.example-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width{
    width: 90%;
}
fa-icon{
    margin-top: 4px;
    float: right;
    color: #55f0ae;
    font-size: 2em;
    width: 5%;
    height: 10px;
}
fa-icon:hover{
    cursor: pointer;
}