<h1 mat-dialog-title>Conectar-se</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="connectForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tag Host</mat-label>
      <input matInput formControlName="TagHostGame" name="TagHostGame"/>
    </mat-form-field>
    <fa-icon title="Copiar" [cdkCopyToClipboard]="data.tagHostGame" [icon]="iconClipboardTag" (click)="changeIconTag()"></fa-icon>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Link Discord</mat-label>
      <input matInput formControlName="LinkDiscord" name="LinkDiscord"/>
    </mat-form-field>   
    <fa-icon title="Copiar" [cdkCopyToClipboard]="data.linkDiscord" [icon]="iconClipboardLink" (click)="changeIconLink()"></fa-icon>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onOkClick()">Fechar</button>
</div>
