/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
body{
  background-color: #2d292c;
  height: 100vh;
}

.rating{
  background-color: #231923;
  color: white;
  text-align: center;
}
.rating a{
  color: #55f0ae;
  font-weight: 600;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

footer{
  height: 30px;
  margin-top: 30px;
}