a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.navbar{
  background-color: #7b1fa2;
 
}
.nav-link {
  color: white;
}
.nav-link:hover {
  cursor:  pointer;
  color: blueviolet;
}
.navbar-brand{
  font-weight: 600;
  color: white;
}
.navbar-brand:hover{
  color: #b236f5;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
