<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Players Book</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"><fa-icon class="toggler-menu" title="Voz" [icon]="faBars" ></fa-icon></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/profile']" *ngIf="playerDataService.userLogged()">Perfil</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/login']" *ngIf="!playerDataService.userLogged()">Logar</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" (click)="logout()" *ngIf="playerDataService.userLogged()">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
