<div class="container" *ngIf="playerProfile">
  <div class="profile">
    <div
      class="pictureProfile"
      *ngIf="playerProfile.imageUrl"
      style="
      background-image: url('{{ baseUrl + playerProfile.imageUrl }}');
      background-position: center;
      background-size: cover;
      "
    ></div>
    <div class="pictureProfileIcon" *ngIf="!playerProfile.imageUrl">
      <fa-icon class="userProfileIcon" [icon]="faUser"></fa-icon>
    </div>
    <div class="profileinfos">
      <div class="nickname">
        <h2>{{ playerProfile.player.nickname }}</h2>
      </div>
      <div class="rating">
        <div>
          <fa-icon class="like" [icon]="faThumbsUp"></fa-icon>
          <p>{{ playerProfile.ratingPositive }}</p>
        </div>
        <div>
          <fa-icon class="deslike" [icon]="faThumbsDown"></fa-icon>
          <p>{{ playerProfile.ratingNegative }}</p>
        </div>
      </div>
      <div class="biografy">
        <h3>Biografia</h3>
        <div class="biografy-content">
          <p *ngIf="playerProfile.description">
            {{ playerProfile.description }}
          </p>
          <p *ngIf="!playerProfile.description">Adicione uma biografia</p>
        </div>
      </div>
      <div class="games">
        <h3>Jogos</h3>
        <div class="gamesorder">
          <div
            *ngFor="let gamesCategory of playerProfile.gamesCategoryProfile"
            class="cardGame"
            style="
              background-image: url({{gamesCategory.boxArtUrl}});
              background-size: cover;
              background-position: center top;
              "
          ></div>
          <!-- <p>{{gamesCategory.name}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="streamers">
      <h3>Lives Favoritas</h3>
      <!-- Component carousel: https://github.com/ivylaboratory/angular-carousel/tree/master/projects -->
      <carousel [arrowsOutside]="true" [cellWidth]="150">
        <div
          class="carousel-cell"
          *ngFor="let streams of playerProfile.channelStreams"
        >
          <div class="channel">
            <img src="{{streams.imageProfile}}" alt="channel picture" />
            <h3>{{ streams.name }}</h3>
          </div>
        </div>
      </carousel>
    </div>
    <div class="advertisementHistory">
      <h3>Histórico de anúncios</h3>
      <cdk-virtual-scroll-viewport scrollWindow [itemSize]="150" class="example-viewport">
        <div class="advertisement" *ngFor="let ads of historyAds">
          <div class="adText">
            <h4 class="gameCategory">
              Game <br />
              <strong>{{ ads.gameCategory }}</strong>
            </h4>
          </div>
          <div class="guestsAdvertisements">
            <div class="guestPlayer" *ngFor="let guest of ads.guests">
              <img
                *ngIf="guest?.playerProfile?.imageUrl"
                src="{{ baseUrl + guest?.playerProfile?.imageUrl }}"
                alt="guest picture"
              />
              <div
                class="guestProfileIcon"
                *ngIf="!guest?.playerProfile?.imageUrl"
              >
                <fa-icon class="guestProfileIconlogo" [icon]="faUser"></fa-icon>
              </div>
              <h3>{{ guest?.nickname }}</h3>
            </div>
            <div class="guestPlayer">
              <img
                *ngIf="ads?.host?.playerProfile?.imageUrl"
                src="{{ baseUrl + ads?.host?.playerProfile?.imageUrl }}"
                alt="guest picture"
              />
              <div
                class="guestProfileIcon"
                *ngIf="!ads?.host?.playerProfile?.imageUrl"
              >
                <fa-icon class="guestProfileIconlogo" [icon]="faUser"></fa-icon>
              </div>
              <h3>{{ ads?.host?.nickname }}</h3>
            </div>
          </div>

          <div class="adText">
            <h4 class="group">
              Grupo <br />
              <strong>{{ ads.groupCategory }}</strong>
            </h4>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
