<div class="heroHeader">
  <h2>Categorias</h2>
  <div class="categories">
    <div class="cardCategory">
      <div class="cardTitle">
        <h4>gameName</h4>
        <p>Q de anuncios</p>
      </div>
    </div>
  </div>
</div>

<div class="createAdvertisement">
  <h4>Não encontrou seu duo, <strong (click)="createAdvertisement()">Crie seu anuncio!</strong></h4>
</div>



<div class="gamesCategories" *ngFor="let adGrouped of advertisementsGrouped">
  <h4>{{adGrouped.GameCategory}}</h4>
  <div class="categoriesAdvertisements">
    <div class="advertisement" *ngFor="let ad of adGrouped.Advertisements">
      <h4>{{ad.PlayerHostName}}</h4>
      <p>{{ad.GroupCategory}}</p>
      <p>useVoice?: </p>
      <p>Guests: {{ad.GuestCount}}</p>
      <button (click)="alert(ad.Id)">Conectar</button>
    </div>
  </div>
</div>
