.heroHeader{
    margin-top: 30px;
    color: white;
    font-family: "Lemonada", sans-serif;
    margin-bottom: 30px;
    border-radius: 5px;
}
.categories{
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #231923;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}
mat-spinner{
    display: inline-block;
    margin-left: 10px;
}
.cardCategory{
    background-color: transparent;
    display: flex;
    min-height: 300px;
    width: 150px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.gameBoxArt{
    border-radius: 5px;
    height: 200px;
    width: 150px;
}
.gameBoxArt:hover{
    cursor: pointer;
    border: 4px solid #55f0ae;
    transition: border .2s;
}
.cardTitle{
    margin-top: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    min-height: 80px;
}
.cardTitle h4{
    margin-bottom: 0;
    padding: 0;
}
.createAdvertisement{
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #231923;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.createAdvertisement h4{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0;
}
.createAdvertisement strong{
    color: #55f0ae;
}
.createAdvertisement strong:hover{
    color: #067f45;
    cursor: pointer;
}
.gamesCategories{
    width: 100%;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.categoriesAdvertisements{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.titleCategory{
    text-transform: uppercase;
}
.advertisement{
    padding: 30px;
    background-color: #231923;
    color: white;
    width: 250px;
    min-height: 230px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    
}
.advertisement strong{
    text-transform: uppercase;
    font-weight: 600;
}
.iconVoice{
    color: white;
    display: flex;
    justify-content: flex-end;
}
.iconVoiceOn{
    color: #55f0ae;
}
.iconVoiceOff{
    color: #ed3838;
}
mat-spinner {
    display: inline-block;
    margin-left: 2px;
}

@media (max-width: 560px) {
    html {
      font-size: 16px;
    }
    .createAdvertisement h4{
        font-size: 1em;
    }
  }