<div class="heroHeader">
  <h2>Categorias</h2>
  <div class="categories">
    <div class="cardCategory">
      <div class="cardTitle">
        <h4>gameName</h4>
        <p>Q de anuncios</p>
      </div>
    </div>
  </div>
</div>

<div class="createAdvertisement">
  <h4>Não encontrou seu duo, <strong>Crie seu anuncio!</strong></h4>
</div>

<div class="categoriesAdvertisements">
  <h4>categoryName</h4>
  <div class="advertisement">
    <h4>PlayerHostName</h4>
    <p>groupType</p>
    <p>useVoice?: </p>
    <p>Guests: countGuests</p>
  </div>
</div>