<div class="heroHeader">
  <h2>Categorias</h2>
  <button mat-button color="accent" (click)="limparFiltro()" *ngIf="showFilterButton">Limpar Filtro<mat-spinner color="primary" diameter="20" *ngIf="showSpinnerButtonFilter"></mat-spinner></button>
  <div class="categories">
    <div class="cardCategory" (click)="testeFiltroCategory(adGrouped)" *ngFor="let adGrouped of advertisementsGrouped">
      <div class="gameBoxArt" style="background-image: url({{adGrouped.gameCategory.boxArtUrl}});" ></div>
      <div class="cardTitle">
        <h4>{{adGrouped.gameCategory.name}}</h4>
        <p>{{adGrouped.advertisements.length}} anúncios</p>
      </div>
    </div>
  </div>
</div>

<div class="createAdvertisement">
  <h4>Não encontrou seu duo, <strong (click)="createAdvertisement()">Crie seu anúncio!</strong></h4>
</div>



<div class="gamesCategories" *ngFor="let adGrouped of advertisementsGrouped">
  <h4>{{adGrouped.gameCategory.name}}</h4>
  <div class="categoriesAdvertisements">
    <div class="advertisement" *ngFor="let ad of adGrouped.advertisements">
      <h4>{{ad.playerHostName}}</h4>
      <p>{{ad.groupCategory}}</p>
      <p>useVoice?: </p>
      <p>Guests: {{ad.guestCount}}</p>
      <button mat-raised-button color="primary" (click)="connectClicked(ad.id, ad.playerHostId)">Conectar</button>
    </div>
  </div>
</div>
