
.avaliateGuests{
    margin: 10px 0;
}
.guest{
    display: flex;
    justify-content: space-between;
}

.guest p {
    font-size: 1.5em;
}

.avaliate{
    display: flex;
    justify-content: space-between;
    min-width: 60px;
}

.like{
    font-size: 1.5em;
    color: #55f0ae;
}
.deslike{
    font-size: 1.5em;
    color: #f44336;
}
.like:hover{
    cursor: pointer;
    font-size: 1.5em;
    color: #39986f
}
.deslike:hover{
    cursor: pointer;
    font-size: 1.5em;
    color: #a12e26
}